<% form_tag session_path do -%>
<div class="loginlabel"><label for="login">Login</label>
<%= text_field_tag 'login' %></div>

<div class="loginlabel"><label for="password">Password</label>
<%= password_field_tag 'password' %></div>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<div><%= submit_tag 'Log in' %></div>
<% end -%>
