
<h1>Admin Page</h1>
<p><%= link_to 'Create & View Categories & Business Types', {:controller => 'categories', :action => 'index'} %></p>
<p><%= link_to 'Users', {:controller => 'users', :action => 'index'} %></p>
<p><%= link_to 'Create Features', {:controller => 'features', :action => 'new'} %></p>

